body{
  font-family: 'Montserrat', sans-serif;
  }
h1{
  color:white;
  font-size:3rem;
  line-height: 1.5;
}
.container{
  padding:3% 15% 7% 15%;
}

.navbar-brand{
  font-size:2.5rem;
  font-family:"Ubuntu",sans-serif;
  font-weight:bold;
}
.s1{
  padding:100px 30px 50px 30px;
  text-align:center;
}
.s2{
  color:#ef8172;
}
.s2:hover{
  color:#ff4c68;
}
#title{
  background-color:#ff4c68;
  color:white;
}
#testimonials{
  background-color:#ef8172;
  padding:7% 15%;
  text-align:center;
  color:white;
  font-family: 'Montserrat', sans-serif;
}.i1{
  width:10%;
  border-radius:100%;
  margin:3%;
}#press{
  background-color:#ef8172;
  padding-bottom:3%;
  text-align:center;
}
.i2{
  width:15%;
}
.k1{
  text-align:center;
}
.b1{
  width:80%;
 margin-bottom:2%;
}
#pricing{
  padding:5%;
}
.rotate-img{
  transform:rotate(30deg);
  position:absolute;
  height:500px;
  width:300px;
}#features{
  background-color:white;
  position:relative;
}
@media(max-width:1080px) {
  #title{
    text-align:center;
  }
  .rotate-img{
    transform:rotate(0);
    position:static;
  }
}
#cta{
  background-color:#ff4c68;
  text-align:center;
  padding:5%;
}
.k3{
  padding:7% 15%;
  color:#fff;
  font-size:3.5rem;
}
#footer{
  text-align:center;
}
.p5{
  font-size:1rem;
  font-family:sans-serif;
}
.k8{
  text-align:center;
}
.k7{
  margin-top:2%;
  padding:0 1%;
}
.k7:hover{
  color:brown;
}
